<div class="row">
  <div class="col">
    <header>
      <h1 class="text-center">Second Treasures Bookstore</h1>

      <h3 >Our Favorite Books:</h3>
    </header>
  </div>
</div>

<br />

<div class="row">
  <div class="col">
    <%= react_component("GuestBookList") %>
  </div>
</div>
