<div class="row">
  <div class="col">
    <header>
      <h1 class="text-center">Second Treasures Bookstore</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= react_component("GuestBookView") %>
  </div>
</div>
