<div class="row">
  <div class="col">
    <header>
      <h1 class="text-center">Listing Books</h1>
    </header>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= react_component("RecommendedBookTable") %>
  </div>
</div>
