<div class="row">
  <div class="col">
    <header>
      <h3 class="text-center">Manage Recommended Books</h3>
    </header>
  </div>
</div>

<div class="row">
  <div class="col">
    <%= react_component("RecommendedBookTable") %>
  </div>
</div>
